{% extends "student_portal/base.html" %}
{% block title %} Connect-U Students {% endblock title%}
{% block content %}
   <div class="jumbotron">
       <h1 class="display-4">Welcome</h1>
       <p style="font-size: 18px;">
           Connect-U is a career service platform designed to simplify job hunting for students.
           With just a few clicks, students can create their profile and apply to job postings of their choice.
           Find your dream job today with Connect-U!
       </p>
       <hr class="my-4">
       <p class="lead">
           <a class="btn btn-primary btn-danger" href="#" role="button">Logout</a>
           <a class="btn btn-primary btn-lg btn-info" href="#" role="button">Sign in</a>
       </p>
   </div>

{% endblock content %}
